.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.75em;
  text-align: center;
  padding-left: .5%;
}

.App-intro {
  font-size: large;
}


.user-image {
  position: absolute; /* Position relative to the viewport */
  top: .25%; /* Adjust vertical alignment */
  left: 7%; /* Adjust horizontal alignment */
  width: 15vw;
  max-width: 150px;
  height: auto; /* Match size */
  border-radius: 50%; /* Optional: Circular image */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
  z-index: 10; /* Ensure it appears above other elements */
}

/* Media Queries for responsiveness */
@media (max-width: 768px) { /* Tablet devices */
  .user-image {
    width: 25vw; /* Slightly larger for smaller devices */
    max-width: 120px; /* Adjust the maximum size */
    top: 15%;
    left: 4%;
  }
}

@media (max-width: 480px) { /* Mobile devices */
  .user-image {
    width: 30vw; /* Larger for very small screens */
    max-width: 100px; /* Further limit the maximum size */
    top: .25%;
    left: 3%;
  }
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
