.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.75em;
  text-align: center;
  padding-left: .5%;
}

.App-intro {
  font-size: large;
}


.user-image {
  position: absolute; /* Position relative to the viewport */
  max-width: 100%;
  top: .25%; /* Adjust vertical alignment */
  left: 7%; /* Adjust horizontal alignment */
  height: 150px; /* Match size */
  border-radius: 50%; /* Optional: Circular image */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
  z-index: 10; /* Ensure it appears above other elements */
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
